# Environment variables
.env

# Python virtual environment
venv/
.venv/
env/
venv_py310/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS specific files
.DS_Store
Thumbs.db

# Reference implementation
reference/
